.playlist-header {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 60px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #282828;
}

.playlist-items {
  overflow-y: scroll;
  height: calc(100vh - 244px);
}

.centered-text {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item-left {
  flex: 1 1 auto;
  min-width: 0;
  max-width: calc(100vw - 720px);
}

.item-grid .index { 
  grid-area: index;
  align-self: center;
  justify-self: center;
}

.item-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "item-grid-left item-grid-right"; 
  align-items: center;
}

.item-grid.item-grid-header{
  display: grid;
  grid-template-columns: 1fr auto 8px;
  grid-template-areas: "item-grid-left item-grid-right spacer"; 
}

.item-grid-left {
  display: grid;
  grid-area: item-grid-left; 
  grid-template-columns: 48px 60px 1fr;
  grid-template-areas: "index cover-art title";
  align-items: center;
}

.item-grid-right {
  display: grid;
  grid-area: item-grid-right; 
  grid-template-columns: repeat(7, 48px);
  grid-template-areas: "vocal dance energy tempo halfTempo key duration"
}

.spacer {
  grid-area: spacer;
}

.item-grid .cover-art { grid-area: cover-art; background-size: cover; display: flex; align-items: center; width: 48px; height: 48px;}
.item-grid .title { grid-area: title;  align-self: center; }
.item-grid .disposition { grid-area: disposition; display: flex; justify-content: center; align-items: center;}
.item-grid .vocal { grid-area: vocal; display: flex; justify-content: center; align-items: center;}
.item-grid .dance { grid-area: dance; display: flex; justify-content: center; align-items: center;}
.item-grid .energy { grid-area: energy; display: flex; justify-content: center; align-items: center;}
.item-grid .tempo { grid-area: tempo; display: flex; justify-content: center; align-items: center; }
.item-grid .halfTempo { grid-area: halfTempo; display: flex; justify-content: center; align-items: center; }
.item-grid .key { grid-area: key; display: flex; justify-content: center; align-items: center; }
.item-grid .duration { grid-area: duration; display: flex; justify-content: center; align-items: center;}

.dragging {
  padding-top: 8px;
}

.item-grid-header > .item-grid-right div {
  cursor: pointer;
}